@charset "UTF-8";
@use 'value' as v;
@use 'color' as c;
@use 'font' as f;

html {
  scroll-behavior: smooth;
  font-size      : clamp(.875rem, .761rem + .57vw, 1.125rem);
}

body {
  color                : c.$white;
  font-family          : f.family( 'base' );
  font-size            : 1rem;
  line-height          : f.lineHeight( 'normal' );
  letter-spacing       : f.letterSpacing( 'normal' );
  word-wrap            : break-word;
  font-feature-settings: 'palt';
  overscroll-behavior  : none;
}

ul {
  li {
    list-style: none;
    margin    : 0;
  }
}

a {
  display        : inline-block;
  color          : c.$accent;
  text-decoration: none;
  transition     : color .3s;

  &:hover {
    color: lighten( c.$accent, 10%);
  }
}

img {
  display: block;
}


address {
  font-style: normal;
}
