$white     : #e0e0e4;
$black     : #141313;
$lightBlack: #555;
$darkBlack : #111;
$gray      : #ddd;
$red       : #f55c5c;
$blue      : #1c4ac9;
$yellow    : #ded9b3;

$main  : $blue;
$accent: $yellow;
$border: rgba($white, .28);

$backgroundGradient: linear-gradient(
  to bottom,
  hsl(203, 29%, 6%) 0%,
  hsl(205, 76%, 8%) 10%,
  hsl(207, 64%, 13%) 20%,
  hsl(209, 38%, 16%) 30%,
  hsl(210, 64%, 14%) 40%,
  hsl(211, 69%, 13%) 50%,
  hsl(233, 86%, 13%) 70%,
  hsl(240, 70%, 15%) 80%,
  hsl(244, 24%, 35%) 90%,
  hsl(292, 7%, 44%) 100%
);