$white     : #e0e0e4;
$darkWhite : #f5f5f5;
$black     : #333;
$lightBlack: #555;
$darkBlack : #111;
$bgBlack   : #141313;
$gray      : #ddd;
$lightGray : #eee;
$darkGray  : #999;
$red       : #f55c5c;
$blue      : #1c4ac9;

$mainColor     : $blue;
$baseColor     : $white;
$accentColor   : $blue;
$secondaryColor: $blue;
$alertColor    : $red;
$inactiveColor : $gray;