@use 'color' as c;
@use 'value' as v;

@mixin gridList( $column: 2, $tabletColumn: 2, $mobileColumn: 1, $gap: v.$val * 4 ) {
  display              : grid;
  grid-template-columns: repeat(auto-fit, calc((100% - (#{$gap} * ( #{$column} - 1))) / #{$column}));
  gap                  : $gap;

  @include v.media( 'tablet' ) {
    grid-template-columns: repeat(auto-fit, calc(( 100% - (#{$gap} * ( #{$tabletColumn} - 1))) / #{$tabletColumn}));
  }

  @include v.media( 'mobile' ) {
    grid-template-columns: repeat(auto-fit, calc(( 100% - ((#{$gap} / 2) * ( #{$mobileColumn} - 1))) / #{$mobileColumn}));
    gap                  : calc($gap / 2);
  }
}

@mixin spotlight {
  width           : 100%;
  height          : 100%;
  border-radius   : 50%;
  background-color: rgba(c.$main, .04);
  mix-blend-mode  : screen;
  pointer-events  : none;
}
